<div id="container">
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <h4 matLine [class]="todo.isClosed ? 'done' : null">
            <mat-checkbox (click)="toggleStatus(todo)" [checked]="todo.isClosed">
            </mat-checkbox>
            {{ todo.title }}
          </h4>
          <a mat-raised-button color="primary" routerLink="detail/{{todo.id}}" (click)="openDetail(todo)">Detail</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <div class="add-button">
    <a mat-raised-button color="primary" (click)="addTodo()">Add a todo</a>
  </div>
</div>
