.todoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vh;
}

.width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 20px;
}
